{{ AssetHelper('base_css') }}

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white min-h-screen px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
    <div class="max-w-max mx-auto">
        <main class="sm:flex">
            <p class="text-4xl font-extrabold text-red-600 sm:text-5xl">500</p>
            <div class="sm:ml-6">
                <div class="sm:border-l sm:border-gray-200 sm:pl-6">
                    <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Well, Crap.</h1>
                    <p class="mt-1 text-base text-gray-600">{{ errorClass }}</p>
                    <p class="mt-1 text-base text-gray-500">{{ exception.getFile() }}: {{ exception.getLine() }}</p>
                    <p class="mt-1 text-base text-gray-400">{{ exception.getMessage() }}</p>
                </div>
                <div class="mt-10 flex space-x-3 sm:border-l leading-5 sm:border-transparent sm:pl-6 font-mono text-xs">
                    <code>
                        <pre>{{ exceptionTrace }}</pre>
                    </code>
                </div>
            </div>
        </main>
    </div>
</div>