{{ doctype() }}
<html lang="en" style="height:100%;" class="h-full">
<head>
    {% block title %}
        {{ headTitle('Application') }}
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        {{ headMeta() }}
    {% endblock %}

    {% block link %}
        {{ headLink() }}
        <link rel="shortcut icon" href="/images/favicon.ico">
    {% endblock %}

    {% block headscript %}
        {{ headScript() }}
    {% endblock %}

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.4/cdn.js" defer></script>
</head>
<body class="h-full" x-data="pageState()">

<!-- Start main area-->
{{ content | raw }}
<!-- End main area -->

<script>
    function pageState() {
        return {
            showSuccess(title, message) {
                this.$dispatch(
                    'notice', {
                        type: 'success',
                        title: title,
                        message: message
                    }
                );
            },

            showError(title, message) {
                this.$dispatch(
                    'notice', {
                        type: 'error',
                        title: title,
                        message: message
                    }
                );
            }
        }
    }
</script>
</body>
</html>